<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My Flask App</title>
</head>
<body>
    <h1>Welcome to My Flask App</h1>
    <p>This is a simple Flask application for making predictions.</p>
    
    <div>
        <h2>Features:</h2>
        <ul>
            <li><a href="/mpg">MPG Prediction</a></li>
            <li><a href="/diabetes">Diabetes Prediction</a></li>
        </ul>
    </div>
</body>
</html>
